<div class="center row-fluid">
  <% if current_user.nil? %>
    <div class="center hero-unit">
      <h1>amblr</h1>

      <h2>who's <i>actually</i> available?</h2>

      <p>
        <%= link_to "Create account", signup_path, class: "btn btn-large btn-primary" %>
      </p>
  <% else %>
    <div class="span7">
      <h2>People</h2>
      <%= render 'shared/users' %>
    </div>
    <div class="span5">
      <h2>My Settings</h2>
      <%= render 'shared/settings' %>
    </div>
  <% end %>
</div>
