<script type="text/javascript">
  $(document).ready(function() {
      var count = 0;
      setInterval(function () {
        if (navigator.geolocation) {
          $('#locator').html("");
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          $('#locator').html("Sorry, no geolocation available.");
        }
      }, 3000);
      
      function showPosition(position) {
        $('#locator').html("<p>Speed: " + position.coords.speed + "</p>");
      }

  });
</script>

<div class="nav">
  <ul class="nav nav-pills nav-stacked">
    <% for state in @states %>
      <li>
        <%= link_to state.name, update_state_path(@user, state) %>
      </li>
    <% end %>
  </ul>
</div>

<div id="locator">
</div>
