<style>
#location_holder {
    margin-top: 10px;
    margin-right: 10px;
}
</style>
<script type="text/javascript">
  $(document).ready(function() {
   
      if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition);
      } else {
        $('#locator').html("Please enable geolocation.");
      }
      
      function showPosition(position) {
          $('#locator').html("Speed: " + (position.coords.speed == null ? "?" : position.coords.speed) + " m/s");
      }

  });
</script>

<div class="pull-right" id="location_holder">
  <%= link_to "Speed: ? m/s", "#", id: "locator" %>
</div>
